# Created by .ignore support plugin (hsz.mobi)
/data
/middle/mnist
.gitignore
/book/dataset
/middle/cifar
/DeepLearning_Pytorch/.idea
/DeepLearning_Pytorch/code-of-learn-deep-learning-with-pytorch
/DeepLearning_Pytorch/MyCode/data